---
import {
    SignIn,
    SignedIn,
    SignedOut,
    UserButton,
    SignInButton,
} from '@clerk/astro/components';
import Layout from '../layouts/Layout.astro';
---

<Layout>
    <div class='container mx-auto'>
        <SignIn />
    </div>
</Layout>
