---
import Container from '@/components/Container';
---

<main>
    <div class="container mx-auto max-w-3xl">
        <Container client:load />
        <h2 class="p-4 mt-6 text-center font-semibold">What is the FakeMail?</h2>
        <p class="text-sm text-gray-600"><strong>FakeMail (Temporary email)</strong> - is a free email service that allows to receive email at a temporary address that self-destructed after a certain time elapses. It is also known by names like : tempmail, 10minutemail, 10minmail, throwaway email, fake-mail , fake email generator, burner mail or trash-mail. Many forums, Wi-Fi owners, websites and blogs ask visitors to register before they can view content, post comments or download something. Temp-Mail - is most advanced throwaway email service that helps you avoid spam and stay safe.</p>
        <h2 class="p-4 mt-6 text-center font-semibold">Why would you need a fake email address?</h2>
        <p class="text-sm text-gray-600 mb-2">You must have noted services such as Amazon Prime, Hulu and Netflix allow limited-time test runs(trials), however, if still determined to use the services all you need is a disposable email address. Technically, you can extend your trial usage using a different email address linked to your original (genuine) after the trial period expires.</p>
        <p class="text-sm text-gray-600 mb-2">An offline or online retailer tend to demand an email address to take advantage of their offers, however, this result in an unwanted deluge of spam promotional emails that you could avoid. Temporary email address makes it easy to cut out those irritating messages you are still receiving.</p>
        <p class="text-sm text-gray-600 mb-2">Technically, the idea of a temporary email address conjures up with black hat hackers and underworld internet, but there are convincing reason to us fake email services.</p>
        <h2 class="p-4 mt-6 text-center font-semibold">Cloudflare temporary email</h2>
        <p class="text-sm text-gray-600">This is a temporary email service that uses Cloudflare Workers to create a temporary email address and view the received email in web browser.</p>
    </div>
</main>