---
import Lists from '@/components/Lists';
---

<main>
    <div class="container mx-auto max-w-3xl">
        <h2 class="p-4 text-center font-semibold">Mail Inbox</h2>
        <Lists client:load />
        <h2 class="p-4 mt-6 text-center font-semibold">What is the FakeMail?</h2>
        <p class="text-sm text-gray-600"><strong>FakeMail (Temporary email)</strong> - is a free email service that allows to receive email at a temporary address that self-destructed after a certain time elapses. It is also known by names like : tempmail, 10minutemail, 10minmail, throwaway email, fake-mail , fake email generator, burner mail or trash-mail. Many forums, Wi-Fi owners, websites and blogs ask visitors to register before they can view content, post comments or download something. Temp-Mail - is most advanced throwaway email service that helps you avoid spam and stay safe.</p>
        <h2 class="p-4 mt-6 text-center font-semibold">Cloudflare temporary email</h2>
        <p class="text-sm text-gray-600">This is a temporary email service that uses Cloudflare Workers to create a temporary email address and view the received email in web browser.</p>
    </div>
</main>